@theme {
  --color-sora-50: #f2f9fd;
  --color-sora-100: #e4f1fa;
  --color-sora-200: #c4e2f3;
  --color-sora-300: #90cbe9;
  --color-sora-400: #58b2dc;
  --color-sora-500: #2f97c8;
  --color-sora-600: #1f79aa;
  --color-sora-700: #1b6189;
  --color-sora-800: #1a5272;
  --color-sora-900: #1b455f;
  --color-sora-950: #122d3f;

  --font-display: 'LXGW WenKai', sans-serif;
  --font-display--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  --font-display--font-variation-settings: 'opsz' 32;
}

/* lxgw-wenkai-latin-300-normal */
@font-face {
  font-family: 'LXGW WenKai';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/lxgw-wenkai@latest/latin-300-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/lxgw-wenkai@latest/latin-300-normal.woff)
      format('woff');
}

@utility prose-sora {
  /* --tw-prose-body: var(--color-sora-800); */
  /* --tw-prose-headings: var(--color-sora-900); */
  --tw-prose-lead: var(--color-sora-700);
  --tw-prose-links: var(--color-sora-900);
  /* --tw-prose-bold: var(--color-sora-900); */
  --tw-prose-counters: var(--color-sora-600);
  --tw-prose-bullets: var(--color-sora-400);
  --tw-prose-hr: var(--color-sora-300);
  /* --tw-prose-quotes: var(--color-sora-900); */
  --tw-prose-quote-borders: var(--color-sora-300);
  --tw-prose-captions: var(--color-sora-700);
  --tw-prose-code: var(--color-sora-900);
  --tw-prose-pre-code: var(--color-sora-100);
  --tw-prose-pre-bg: var(--color-sora-900);
  --tw-prose-th-borders: var(--color-sora-300);
  --tw-prose-td-borders: var(--color-sora-200);
  /* --tw-prose-invert-body: var(--color-sora-200); */
  /* --tw-prose-invert-headings: var(--color-white); */
  --tw-prose-invert-lead: var(--color-sora-300);
  --tw-prose-invert-links: var(--color-white);
  /* --tw-prose-invert-bold: var(--color-white); */
  --tw-prose-invert-counters: var(--color-sora-400);
  --tw-prose-invert-bullets: var(--color-sora-600);
  --tw-prose-invert-hr: var(--color-sora-700);
  /* --tw-prose-invert-quotes: var(--color-sora-100); */
  --tw-prose-invert-quote-borders: var(--color-sora-700);
  --tw-prose-invert-captions: var(--color-sora-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-sora-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-sora-600);
  --tw-prose-invert-td-borders: var(--color-sora-700);
}
