---

---

<div
  class="fixed right-8 bottom-8 text-4xl cursor-pointer text-black dark:text-white hover:text-sora-600"
  id="backToTop"
>
  <span class="w-8 h-8 icon-[fa-solid--chevron-up] align-sub"></span>
  <script>
    let scrollHandler: any

    function init() {
      const backToTop = document.querySelector<HTMLElement>('#backToTop')

      if (backToTop) {
        backToTop.style.display = 'none'
        backToTop.onclick = () => {
          window.scrollTo({ top: 0, behavior: 'smooth' })
        }

        if (scrollHandler) {
          window.removeEventListener('scroll', scrollHandler)
        }

        scrollHandler = () => {
          if (
            document.body.scrollTop > 20 ||
            document.documentElement.scrollTop > 20
          ) {
            backToTop.style.display = 'block'
          } else {
            backToTop.style.display = 'none'
          }
        }

        window.addEventListener('scroll', scrollHandler)
      }
    }

    document.addEventListener('astro:page-load', init)
  </script>
</div>
