---
import { ClientRouter } from 'astro:transitions'
const { title } = Astro.props
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <ClientRouter />
  <script is:inline>
    if (localStorage.getItem('darkMode') === 'true') {
      document.documentElement.setAttribute('data-mode', 'dark')
    } else {
      document.documentElement.setAttribute('data-mode', 'light')
    }
  </script>
</head>
