<footer
  class="h-[200px] bg-gray-100 dark:bg-gray-800 flex flex-col justify-center items-center py-8 text-gray-500 dark:text-gray-300"
>
  <div>
    Powered by
    <a class="hover:text-sora ml-1" target="_blank" href="https://astro.build/">
      Astro
      <i class="ml-1 fa-solid fa-up-right-from-square"></i>
    </a>
  </div>
  <div>Copyright © 2023 KannadukiAme</div>
</footer>
