---
import siteConfig from '@utils/config'
---

<footer
  class="bg-gray-100 dark:bg-gray-800 flex flex-col items-center p-20 text-gray-500 dark:text-gray-300"
>
  <div>
    Powered by
    <a class="hover:text-sora ml-1" target="_blank" href="https://astro.build/">
      Astro
      <i class="fa-solid fa-up-right-from-square"></i>
    </a>
  </div>
  <div>{siteConfig.footer.copyright}</div>
</footer>
