---
type Props = {
  text: string
  href: string
  count: number
}
const { text, href, count = 0 } = Astro.props
---

<a class="text-base font-bold hover:text-sora-600" href={href}>
  <span class="w-5 h-5 icon-[mdi--tag] align-sub"></span>
  <span>{text} ({count})</span>
</a>
