---
type Props = {
  text: string
  href: string
  count: number
}
const { text, href, count = 0 } = Astro.props
---

<a class="text-base font-bold hover:text-sora hover:underline" href={href}>
  <i class="fa-solid fa-hashtag"></i>
  <span>{text} ({count})</span>
</a>
