---
import { Image } from 'astro:assets'

import avatar from '@assets/eruruu-avatar.jpg'
import HeaderRight from '@components/HeaderRight'
import siteConfig from '@utils/config'

const { pathname } = Astro.url
---

<header class="flex p-4 bg-gray-50 dark:bg-gray-900">
  <div class="flex-1 flex space-x-6 items-center">
    <Image class="rounded-full w-8 h-8" src={avatar} alt="eruruu" />
    <div class="text-gray-900 dark:text-gray-50 text-3xl hidden sm:block">
      {siteConfig.title}
    </div>
  </div>
  <HeaderRight pathname={pathname} client:only="react" />
</header>
