---
type Props = {
  text: string | null
  slug: string | null
}

const { text, slug } = Astro.props
---

{
  text || slug ? (
    <a
      class="hover:text-sora inline-block"
      href={`/posts/${slug}`}
    >{`<< 上一篇`}</a>
  ) : (
    <span />
  )
}
