---

---

<a
  href="/search/"
  aria-label="search"
  class="px-4 py-2 text-gray-500 dark:bg-gray-900 cursor-pointer bg-gray-100 hover:ring hover:ring-sora-500 rounded-md"
>
  <span class="w-5 h-5 align-sub icon-[material-symbols--search]"></span>
  <span>Search</span>
</a>
