---
type Props = {
  text: string
  href: string
}

const { text, href } = Astro.props
---

<a
  class="border border-sora px-2 py-1 text-sm text-sora-500 hover:bg-sora hover:text-gray-100"
  href={href}
>
  <i class="fa-solid fa-tag"></i>
  {text}
</a>
