---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
const { title } = Astro.props
---

<html lang="zh-CN">
  <BaseHead title={title} />
  <body class="">
    <Header />
    <slot name="hero" />
    <slot />
    <Footer />
  </body>
</html>
