---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
const { title } = Astro.props
---

<html lang="zh-CN">
  <BaseHead title={title} />
  <body
    class="grid grid-rows-[68px_minmax(340px,_calc(100vh-120px))_minmax(300px,_1fr)_120px] dark:text-gray-50"
  >
    <Header />
    <slot name="hero" />
    <slot />
    <Footer />
  </body>
</html>
