---
import '../styles/global.css'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import BaseHead from '@components/BaseHead.astro'
import Live2D from '@components/Live2D.astro'
// import Search from 'astro-pagefind/components/Search'

interface Props {
  title: string
}

const { title } = Astro.props
const { pathname } = Astro.url
---

<html lang="zh-CN">
  <BaseHead title={title} />
  <body>
    <Header pathname={pathname} />
    <main class="bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-50">
      <slot />
    </main>
    <Live2D />
    <Footer />
  </body>
</html>
