---
import Header from '@components/Header.svelte'
import Footer from '@components/Footer.astro'
import BaseHead from '@components/BaseHead.astro'

import { Image } from 'astro:assets'
import avatar from '@assets/eruruu-avatar.jpg'

const { title } = Astro.props
const { pathname } = Astro.url
---

<html lang="zh-CN" class="font-common">
  <BaseHead title={title} />
  <body>
    <Header pathname={pathname} client:only="svelte">
      <Image
        class="rounded-full w-8 h-8"
        loading="eager"
        src={avatar}
        alt="logo"
      />
    </Header>
    <main class="bg-gray-50 dark:bg-gray-950 text-gray-900 dark:text-gray-50">
      <slot />
    </main>
    <Footer />
  </body>
</html>
